/maint/config.site
/maint/local-cfg.mk

/build-aux/compile
/build-aux/depcomp
/build-aux/install-sh
/build-aux/missing
/autom4te.cache/
/aclocal.m4

Makefile
Makefile.in

/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure

/stamp-h1

/c-ratfor-[0-9]*.tar.gz
/c-ratfor-[0-9]*/
