*.tmp
*.tmpdir
.*.sw[op]
*[$~]
#*#

/git.log
/git.log[0-9]

/maint/config.site
/maint/local-cfg.mk

/build-aux/
/autom4te.cache/
/aclocal.m4

Makefile
Makefile.in

/config.h
/config.h.in
/config.log
/config.status
/configure

/stamp-h1

/.deps
/timer
/timer.o

/ratfor-testsuite-[0-9]*.tar.gz
/ratfor-testsuite-[0-9]*/
