*.tmp
*.tmpdir
.*.sw[op]
*[$~]
#*#

git.log
git.log[0-9]

/local-cfg.mk
/gcc-2.95-wrapper.bash

/_build/

/build-aux/
/autom4te.cache/
/aclocal.m4

Makefile
Makefile.in

/config.h
/config.h.in
/config.log
/config.status
/configure

/stamp-h1

/ratfor-*.tar.gz
/ratfor-*/
