/*.log
/*.log-t
/*.test-t
/*.dir

/break-after-numeric-label.test
/break-after-numeric-label_f77.test
/do-after-numeric-label.test
/do-after-numeric-label_f77.test
/for-after-numeric-label.test
/for-after-numeric-label_f77.test
/if-after-numeric-label.test
/if-after-numeric-label_f77.test
/if-else-after-numeric-label.test
/if-else-after-numeric-label_f77.test
/next-after-numeric-label.test
/next-after-numeric-label_f77.test
/repeat-after-numeric-label.test
/repeat-after-numeric-label_f77.test
/repeat-until-after-numeric-label.test
/repeat-until-after-numeric-label_f77.test
/switch-after-numeric-label.test
/switch-after-numeric-label_f77.test
/while-after-numeric-label.test
/while-after-numeric-label_f77.test

/break-in-statement-middle.test
/break-in-statement-middle_f77.test
/case-in-statement-middle.test
/case-in-statement-middle_f77.test
/default-in-statement-middle.test
/default-in-statement-middle_f77.test
/do-in-statement-middle.test
/do-in-statement-middle_f77.test
/else-in-statement-middle.test
/else-in-statement-middle_f77.test
/for-in-statement-middle.test
/for-in-statement-middle_f77.test
/if-in-statement-middle.test
/if-in-statement-middle_f77.test
/next-in-statement-middle.test
/next-in-statement-middle_f77.test
/repeat-in-statement-middle.test
/repeat-in-statement-middle_f77.test
/switch-in-statement-middle.test
/switch-in-statement-middle_f77.test
/until-in-statement-middle.test
/until-in-statement-middle_f77.test
/while-in-statement-middle.test
/while-in-statement-middle_f77.test

/case-with-empty-body.test
/case-with-empty-body_f77.test
/default-with-empty-body.test
/default-with-empty-body_f77.test
/do-with-empty-body.test
/do-with-empty-body_f77.test
/else-with-empty-body.test
/else-with-empty-body_f77.test
/for-with-empty-body.test
/for-with-empty-body_f77.test
/if-else-with-empty-body.test
/if-else-with-empty-body_f77.test
/if-with-empty-body.test
/if-with-empty-body_f77.test
/repeat-until-with-empty-body.test
/repeat-until-with-empty-body_f77.test
/repeat-with-empty-body.test
/repeat-with-empty-body_f77.test
/switch-with-empty-body.test
/switch-with-empty-body_f77.test
/while-with-empty-body.test
/while-with-empty-body_f77.test
